#contenedor{
  margin:0px auto !important;
  width:100%;
  font-family:Times New Roman !important;
}

#principal{
  width:100%;
  float: left;
  background-color:#99fffa;
  height:350px
}

#fondo_login{
  background: url(login.png) 0 0 repeat transparent;
  width: 1024px;
  height: 350px;
}

#login{
  margin-left: 300px;
  padding-top: 180px;
  float: left;
  text-align: left;
}
#login button{
  background: url(ingresar.png);
  margin-left: 200px;
  margin-top: 10px;
  border: none;
  width: 120px;
  height: 41px;
}

#login label{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

#login input{
  border: none;
  min-width: 200px;
  width: 115px;
  height: 15px;
  background-color: #cccfff;
  font-size: 14px;
  text-align: left;
}
.uno{
  margin-left: 8px;
}

.dos{
  margin-left: 22px;
}
